/* css for new landing page */
:root {
	--white: rgb(233, 228, 228);
	--background-lighter: rgb(88, 88, 104);
	--background-light: rgb(41, 41, 48);
	--background-dark: rgb(31, 27, 39);
	--yellow: rgb(255, 250, 160);
}

h1, h2, a, p {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--white);
	margin: 0;
}

body {
	background-color: var(--background-light);
}

main {
  display: flex;
  flex-direction: row; /* Default, can omit */
}

.sidebar {
	background-color: rgb(31, 27, 39);
	margin-left: 5%;
	margin-top: 5%;
	padding: 5px;
	width: 350px;
	border-radius: 20px;
}

.sidebar-info {
	margin-left: 0%;
	display: flex;
	justify-content: left;
	align-items: center;
}

figure.avatar-box {
	margin-inline-start: 20px;
}

.sidebar-info-content {
	margin-inline-start: -20px;
}

h1.name {
	margin-bottom: 5px;
}

.seperator {
	margin: 10px 0px 32px 0px;
	height: 2px;
	width: 90%;
	margin-left: 5%;
	box-sizing: border-box;
	background-color: var(--white);
}

.basic-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.basic-info-item {
  margin-bottom: 15px;
}

.info-block {
  display: flex;
  align-items: flex-start; /* aligns top of icon and text */
  margin-left: 10px;
}

.icon {
  margin: 2px;
  background-color: var(--background-lighter);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
	margin-block-start: 1px;
}

.last_updated {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.Code {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1px;
}

.label {
  font-weight: bold;
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.data {
  font-size: 20px;
  margin-left: 10px;
  color: #666;
}

.main-content {
	flex-grow: 1;
	padding: 20px;
	margin: 5%;
	border-radius: 20px;
	background-color: var(--background-dark);
	box-sizing: border-box;
	position: relative; 
}

header.navbar {
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--background-lighter);
	padding: 10px;
	border-radius: 0 20px 0 20px; 
}

.navbar-list {
  list-style: none;      /* Remove bullet points */
  padding: 0;
  margin: 0;
  display: flex;         /* Align items side by side */
  gap: 40px;             /* Optional: space between items */
}

.navbar-link {
  text-decoration: none;
  color: var(--white);           /* Change to your theme color */
  font-weight: bold;
  padding: 8px 12px;
}

.navbar-link:hover {
  color: var(--yellow)
}

.navbar-link.active {
  color: var(--yellow)
}