/* css for new landing page */
:root {
	--white: rgb(255, 255, 255);
	--background-lighter: rgb(88, 88, 104);
	--background-light: rgb(41, 41, 48);
	--background-dark: rgb(31, 27, 39);
	--accent: rgb(86, 74, 148);
	--accent-light: rgb(72, 176, 209);
}

h1, h2, h3, a, p, li, small {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}


body.theme-dark {
	background-color: var(--background-light);
	color: #eee ;
	transition: background-color 0.3s, color 0.3s;
}


body.theme-light {
	background-color: var(--white);
	transition: background-color 0.3s, color 0.3s;
}

body.theme-light .icon-dark {
  	display: none;
}

body.theme-light .icon-light {
  	display: inline;
}

.toggle-help {
	text-align: center;
	font-style: italic;
}

.content-wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
	padding: 2rem;
	max-width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}

.sidebar {
	padding: 5px;
	width: 375px;
	border-radius: 20px;
	height: 575px;
	border-width: 2px;
	flex-shrink: 0;
}

body.theme-dark .sidebar {
	background-color: var(--background-dark);
	border: solid var(--background-lighter);
}

body.theme-light .sidebar {
	background-color: var(--white);
	border: solid var(--background-lighter);
}

.sidebar-info {
	margin-left: 0%;
	display: flex;
	justify-content: left;
	align-items: center;
}

figure.avatar-box {
	margin-inline-start: 20px;
}

.avatar-box {
	width: 115px;
	height: 115px;
	overflow: hidden;
}

.avatar-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

p.title {
	margin-left: 26px;
	text-align: center;
	font-size: 19px;
	font-style: italic;
	width: 160px;
	height: 30px;
	border-radius: 7px;
}

h1.name {
	padding-left: 20px;
}

.sidebar-info-content {
	margin-inline-start: -20px;
}

h1.name {
	margin-bottom: 10px;
}

.seperator {
	margin: 10px 0px 30px 0px;
	height: 2px;
	width: 90%;
	margin-left: 5%;
	border-radius: 10px;
}

body.theme-dark .seperator{
	background-color: var(--accent);
}

body.theme-light .seperator{
	background-color: var(--accent-light);
}


.basic-info {
	list-style: none;
	padding: 0;
	margin: 0;
}

.basic-info-item {
  	margin-bottom: 20px;
}

.info-block {
	display: flex;
	margin-left: 10px;
}

.icon {
	margin: 2px;
	display: flex;
}

.text {
	margin-block-start: 1px;
}

body.theme-dark .label {
	color: var(--white);
}

body.theme-light .label {
	color: black;
}


.last_updated {
	display: flex;
	align-items: center;
	justify-content: center;
}

body.theme-dark .Code p:hover {
	color: var(--accent);
}

body.theme-light .Code p:hover {
	color: var(--accent-light);
}

.Code {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

body.theme-dark .Code p {
	color: var(--white);
}

body.theme-light .Code p {
	color: black;
}

.main-page {
	display: flex;
	justify-content: center;
}

.label {
	font-weight: bold;
	margin-left: 10px;
	display: flex;
	align-items: center;
	font-size: 20px;
	color: var(--white);
	margin-bottom: 5px;
}

body.theme-dark p.data:hover, body.theme-dark .sidebar a:hover,
	body.theme-dark .sidebar a{
	color: var(--accent);
}

body.theme-light p.data:hover, body.theme-light .sidebar a:hover,
	body.theme-light .sidebar a {
	color: var(--accent-light);
}

body.theme-dark .sidebar .icon {
	stroke: var(--accent);
}

body.theme-light .sidebar .icon {
	stroke: var(--accent-light);
}


.data {
	font-size: 16px;
	margin-left: 10px;
}

body.theme-dark .data {
	color: var(--white);
}

body.theme-light .data {
	color: black;
}

.main-content {
	flex-grow: 1;
	padding: 20px;
	border-radius: 20px;
	box-sizing: border-box;
	position: relative; 
	min-width: 800px;
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	border-width: 2px;
	max-width: calc(100% - 300px - 2rem);
	flex: 1;
	max-width: 1000px;
}

body.theme-dark .main-content {
	border: solid var(--background-lighter);
	background-color: var(--background-dark);
}

body.theme-light .main-content {
	border: solid var(--background-lighter);
	background-color: var(--white);
}

header.navbar {
	position: absolute;
	top: 0;
	right: 0;
	border-width: 2px;
	padding: 10px;
	border-radius: 0 20px 0 20px; 
}

body.theme-dark header.navbar {
	background-color: var(--background-light);
	border: solid var(--background-lighter);
	border-top: none;
	border-right: none;
}

body.theme-light header.navbar {
	background-color: var(--white);
	border: solid var(--background-lighter);
	border-top: none;
	border-right: none;
}

.navbar-list {
	list-style: none;      
	padding: 0;
	margin: 0;
	display: flex;      
	gap: 40px; 
}

.navbar-link {
	text-decoration: none;
	font-weight: bold;
	padding: 8px 12px;
}

body.theme-dark .navbar-link {
	color: var(--white);   
}

body.theme-light .navbar-link {
	color: black;   
}

body.theme-dark .navbar-link:hover {
  	color: var(--accent);
}

body.theme-light .navbar-link:hover {
	color: var(--accent-light);
}

body.theme-dark .navbar-link.active {
  	color: var(--accent)
}

body.theme-light .navbar-link.active {
  	color: var(--accent-light)
}

.main-seperator {
	margin-top: 5px;
	width: 160px;
	height: 2px;
	border-radius: 10px;
}

body.theme-dark .main-seperator {
	background-color: var(--accent);
}

body.theme-light .main-seperator {
	background-color: var(--accent-light);
}


.about-me {
	margin-top: 10px;
	font-size: 20px;
	margin-bottom: -25px;
}

.about-me-section {
	margin-top: 25px;
	margin-bottom: 0px;
	text-underline-offset: 5.5px;
}

body.theme-dark .about-me-section {
	text-decoration: underline 2.25px var(--accent);
}

body.theme-light .about-me-section {
	text-decoration: underline 2.25px var(--accent-light);
}

.tech-stacks {
	margin-top: 50px;
	border-radius: 10px;
	padding: 10px;
	border-width: 2px;
}

body.theme-dark .tech-stacks {
	border: solid var(--background-lighter);
	background-color: var(--background-light);
}

body.theme-light .tech-stacks {
	border: solid var(--background-lighter);
	background-color: var(--white);
}

.tech-title {
	margin-bottom: 0px;
	text-underline-offset: 5.5px;
}

body.theme-dark .tech-title {
	text-decoration: underline 2.25px var(--accent);
}

body.theme-light .tech-title {
	text-decoration: underline 2.25px var(--accent-light);
}

.scroll {
	position: relative;
	width: 100%; 
	height: 60px;
	overflow: hidden;
	z-index: 1;
	margin-top: 0px;
	border-radius: 10px;
	margin-top: 30px;
}

body.theme-dark .scroll {
	background-color: var(--background-light);
}

body.theme-light .scroll {
	background-color: var(--white);
}

.m-scroll {
  	display: flex;
}

.m-scroll__content {
	display: flex;
	animation: scrollText 10s linear infinite;
}

.m-scroll__content span {
	display: inline-block;
	padding: 0 1rem;
}

.m-scroll__content img {
	height: 60px;
	width: 60px;
	margin-left: 100px;
}

img.icon-light, img.icon-dark {
  display: none;
}

body.theme-light img.icon-light {
  display: inline;
}

body.theme-dark img.icon-dark {
  display: inline;
}

/* Original scrolling left */
@keyframes scroll-left {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-50%);
	}
}

.m-scroll__content {
	display: flex;
	width: max-content;
	animation: scroll-left 45s linear infinite;
}

/* New: scrolling right */
@keyframes scroll-right {
	from {
		transform: translateX(-50%);
	}
	to {
		transform: translateX(0%);
	}
}

.m-scroll__content-reverse {
	display: flex;
	width: max-content;
	animation: scroll-right 45s linear infinite;
}

.m-scroll__content-reverse span {
	display: inline-block;
	padding: 0 1rem;
}

.m-scroll__content-reverse img {
	height: 60px;
	width: 60px;
	margin-left: 100px;
}

.m-scroll__content:hover,
.m-scroll__content-reverse:hover {
	animation-play-state: paused;
	cursor: pointer;
}

.resume-seperator {
	margin-top: 5px;
	width: 220px;
	height: 2px;
	border-radius: 10px;
}

body.theme-dark .resume-seperator {
	background-color: var(--accent);
}

body.theme-light .resume-seperator {
	background-color: var(--accent-light);
}

.resume-seperator-main {
	height: 2px;
	border-radius: 10px;
	width: 100%;
}

body.theme-dark .resume-seperator-main {
	background-color: var(--accent);
}

body.theme-light .resume-seperator-main {
	background: var(--accent-light);
}

body.theme-dark svg.education-icon {
	stroke: var(--accent);
}

body.theme-light svg.education-icon {
	stroke: var(--accent-light);
}

body.theme-dark svg.work-icon {
	stroke: var(--accent);
	fill: var(--accent)
}

body.theme-light svg.work-icon {
	stroke: var(--accent-light);
	fill: var(--accent-light)
}

.header {
	margin-top: 25px;
	gap: 15px;
	display: flex;
	justify-content: left;
	align-items: center;
}

.header-icon {
	margin: 5px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header img {
	margin: 2px;
}

.experience-header {
	display:flex;
}

.time {
	justify-content: right;
	align-items: right;
	text-align: right;
	margin-left: auto;
	margin-top: 15px;
	font-weight: bold;
}

.org {
	justify-content: left;
	align-items: left;
	margin-top: 15px;
	font-weight: bold;
}

.experience-subheader {
	display: flex;
}

.role {
	justify-content: left;
	align-items: left;
	font-style: italic;
}

.location {
	justify-content: right;
	align-items: right;
	text-align: right;
	margin-left: auto;
	font-style: italic;
}

.filters {
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.filters strong {
  margin-right: 10px;
}

.filter-btn {
	padding: 6px 12px;
	margin-right: 5px;
	color: #ddd;
	border: 2px solid var(--background-lighter);
	border-radius: 4px;
	cursor: pointer;
}

body.theme-dark .filter-btn {
	background: var(--background-light);
	color: var(--white);
}

body.theme-light .filter-btn {
	background: var(--white);
	color: black;
}

.filter-btn.active {
	color: var(--white);
}

body.theme-dark .filter-btn.active {
	font-weight: bold;
	border: 2px solid var(--accent);
	background: var(--accent);
}

body.theme-light .filter-btn.active {
	font-weight: bold;
	border: 2px solid var(--accent-light);
	background: var(--accent-light);
}

body.theme-dark .filter-btn:hover {
	border: solid var(--accent);
	border-width: 2px;
}

body.theme-light .filter-btn:hover {
	border: solid var(--accent-light);
	border-width: 2px;
}

.project-grid-wrapper {
	padding: 0rem;
}

.project-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
	gap: 10px;
	max-width: calc(3 * 300px + 2 * 10px); /* max 3 columns + 2 gaps */
	margin: 0 auto;
	justify-items: start;
}

.project-card {
	border-radius: 8px;
	border: 2px solid var(--background-lighter);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: transform 0.2s ease;
	justify-content: flex-start;
	max-width: 300px;
	width: 100%;
	margin: 0; /* center each card if fewer items */
}

body.theme-dark .project-card {
	color: var(--white);
	background: var(--background-light);
}

body.theme-light .project-card {
	color: black;
	background: var(--white);
}

.project-card img {
	margin-top: 10px;
	margin-left: -5px;
	margin-right: -5px;
	border-radius: 10px;
	height: 200px;
	width: 280px;
}

.project-card .card-text {
	font-size: 1rem;
	line-height: 1.3;
}

.project-card:hover {
  	transform: scale(1.01);
}

.pagination {
	text-align: center;
	padding-top: 15px;
	margin-top: 10px;
}

.pagination-btn {
	margin: 0 5px;
	padding: 6px 12px;
	border: 2px solid var(--background-lighter);
	background: #222;
	color: #ddd;
	cursor: pointer;
	border-radius: 4px;
}

.pagination-btn.active {
	color: black;
	font-weight: bold;
}

body.theme-dark .pagination-btn.active {
	background: var(--accent);
}

body.theme-light .pagination-btn.active {
	background: var(--accent-light);
}

body.theme-dark .pagination-btn:hover {
	border: 2px solid var(--accent);
}

body.theme-light .pagination-btn:hover {
	border: 2px solid var(--accent-light);
}

.research-seperator {
	margin-top: 5px;
	width: 240px;
	height: 2px;
	border-radius: 10px;
}

body.theme-dark .research-seperator{
	background-color: var(--accent);
}

body.theme-light .research-seperator {
	background-color: var(--accent-light);
}